*{
	margin: 0;
	padding: 0;
	/*background-color: #F8F8F8;*/
}
html, body{
	margin: 0;
	/*height: 100%;*/
	/*background: url(../images/homebg.png) no-repeat;*/
	background-size: 100%;
	font-size: 1rem;
	/*color: #fff;*/
	line-height: 1rem;
	/*position: relative;*/
}
.wrap {
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
	overflow: hidden;
}
.logo {
	width: 94%;
	margin: 0 auto;
	/*background-color: yellow;*/
	display: flex;
	justify-content: space-between;
	text-align: center;
	/*height: 40px;*/
	height: 2rem;
	/*padding: 20px 0;*/
	padding: 1rem 0;
}
.logo-left ,.logo-right{
	/*background-color: pink;*/
	position: relative;
	width: 60%;
}
.logo-right {
	position: relative;
	width: 40%;
}
/*logo部分*/
.logo-left {
	text-align:left;
}
.logo-left img {
	width: 9rem;
	height: 1.2rem;
}
.logo-left p {
	text-align: center;
	width: 9rem;
	font-size: 0.75rem;
	color: rgb(51,51,51);
}
/*.logo-img {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	left: 0;
	top: 0.3152rem;
}
.logo-img img {
	width: 100%;
	height: 100%;
}*/
/*中国银行字体logo部分*/
/*.logo-text {
	position: absolute;
	top: 0;
	left: 2.125rem;
}
.logo-text img {
	width: 3.625rem;
	height: 1.125rem;
}
.logo-text span {
	font-size: 0.875rem;
	color: #000;
	display: inline-block;
	vertical-align: top;
}
.logo-text2 {
	position: absolute;
	bottom: 0;
	left: 3.125rem;
	font-size: 0.75rem;
	color: rgb(51,51,51);
}*/
/*右侧文字部分*/
.logo-right p {
	font-size: 1rem;
	color: rgb(233,79,55);
	line-height: 2.5rem;
	text-align: right;
	font-weight: 600;
}
/*头像部分*/
.photo {
	width: 94%;
	margin: 0 auto;
	position: relative;
}
.photoleft {
	width: 24%;
	height: 6.5rem;
	border-radius: 0.375rem;
}
.photoleft img {
	width: 100%;
	height: 100%;
}
.photoright {
	width: 88%;
	height: 6.5rem;
	/*background-color: yellow;*/
	position: absolute;
	left: 26%;
	top: 0;
}
.photoright .right-top {
	position: absolute;
    left: 0;
    top: 0;
}
.photoright .right-top p {
	display: inline-block;
}
/*姓名*/
.name {
	font-size: 1.25rem;
	color: #000;
	line-height: 1.5rem;
	font-weight: 600;
}
/*职位*/
.job {
	width: 5rem;
    height: 1.3125rem;
    line-height: 1.3125rem;
    text-align: center;
    border: 1px solid rgb(233,9,55);
    color: rgb(233,79,55);
    border-radius: 0.875rem;
    font-size: 0.875rem;
    margin-left: 0.375rem;
}
/*工号*/
.jobnum {
	color: rgb(51,51,51);
	font-size: 0.8125rem;
	margin-left: 0.375rem;
}
.right-bottom {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}
.zhengshu {
	width: 2.6rem;
	height: 3.875rem;
	padding: 0 0.175rem;
	text-align: center;
	position: relative;
}
.zhengshu p{
	font-size: 12px;
}
.zhengshu .p1{
	position: absolute;
	left: 4px;
	bottom: 4px;
}
.zhengshu .p2{
	position: absolute;
	left: 4px;
	bottom: 0;
}
.textcard {
	width: 1.55rem;
}
.textcard p{
	width: 1.4375rem;
	height: 3.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.45rem;
	color: #fff;
	background-color: #5DC2E7;
	text-align: center;
	border-radius: 0.375rem;
}
.zhengshu img {
	width: 100%;
	height: 100%;
}
/*微信电话部分*/
.personmsg {
	width: 94%;
	margin: 1.25rem auto;
	display: flex;
	justify-content: space-between;
}
.per-left {
	width: 60%;
	font-size: 0.8125rem;
	line-height: 1.5rem;
}
.per-right {
	width: 40%;
	text-align: right;
}
.left-top {
	margin-bottom: 0.75rem;
}
.left-bottom a{
	text-decoration: none;
	color: #fff;
}
.per-left div {
	display: inline-block;
	
}
.per-left .one{
	text-align: center;
	width: 2.75rem;
	height: 1.5rem;
	background-color: rgb(233,79,55);
	border-radius: 0.75rem 0 0 0.75rem;
	border: 1px solid rgb(233,79,55);
	color: #fff;
	
}
.per-left .two{
	width: 9rem;
	height: 1.5rem;
	/*background-color: rgb(255,255,255);*/
	border: 0.0625rem solid rgb(233,79,55);
	border-radius: 0 0.75rem 0.75rem 0;
	text-align: left;
	padding-left: 0.25rem;
	margin-left: 0.125rem;
	
}
/*视频展示*/
.per-right .videoimg {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}
.per-right .jiantouimg {
	width: 0.75rem;
	height: 0.75rem;
	vertical-align: middle;
	margin: 0.375rem;
}
.per-right p {
	font-size: 0.875rem;
	color: rgba(51,51,51,0.7);
	display: inline-block;
}
.per-right .videop {
	vertical-align: middle;
}
.rig-one {
	margin-bottom: 1rem;
}

/*消息轮播*/
.slide {
	position: relative;
	margin: auto;
	width: 94%;
	height: 2.5rem;
	overflow: hidden;
/*	color: #FFFFFF;*/
	text-align: center;
	position: relative;
	border-bottom: 1px solid rgba(51,51,51,0.5);
}
.slide .tongzhiimg {
	width: 1.25rem;
	height: 1.25rem;
	position: absolute;
	left: 0;
	top: 0.625rem;
}
.slide .con1 {
	width: 83%;
	margin-top: 0.6875rem;
}
/*.slide ul {
	width: 90%;
	margin: 0.625rem 0;
	padding: 0;
	width: 9999px;
	height: 624rem;
	transition: all 0.5s;
	position: absolute;
	top: 0;
	right: 0;
}
.slide .slide-auto {
	animation: marginTop 8s infinite;
}*/
/*.slide li {
	float: left;
	width:100%;
	height: 2.5rem;
	list-style: none;
	line-height: 2.5rem;
	text-align: left;
	border: none;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/
/*.slide li:nth-child(1){
	background: #ac24bb;
}
.slide li:nth-child(2){
	background: #be65ae;
}
.slide li:nth-child(3){
	background: #cc8674;
}*/
/*.slide li .span1 {
	font-size: 0.8125rem;
	color: #000;
}
.slide li .span2 {
	font-size: 0.75rem;
	color: rgba(51,51,51,0.7);
	
}*/
.swiper-wrapper-new {
	width: 100%;
}
.newslide {
	text-align: left;
}
.slide .con1 .span1 {
	font-size: 0.8125rem;
	color: #000;
}
.slide .con1 .span2 {
	font-size: 0.75rem;
	color: rgba(51,51,51,0.7);
	
}
/*@keyframes marginTop {
	
	0%, 30%{
		margin-top: 0;
	}
	30%, 60% {
		margin-top: -2.5rem;
	}
	60%, 100% {
		margin-top: -5rem;
	}
}*/
/*为您推荐*/
.recommend {
	/*margin: 20px auto;*/
	width: 100%;
}
.rec-title {
	width: 94%;
	margin: 1.25rem auto 0.9375rem;
	position: relative;
}
.rec-title img {
	width: 1.25rem;
	height: 1.25rem;
}
.rec-title p{
	display: inline-block;
	height: 1.25rem;
	vertical-align: top;
	line-height: 1.25rem;
	font-size: 1.125rem;
	color: rgb(51,51,51);
	margin-left: 0.375rem;
}
ul,li{
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
ul {
	width: 100%;
	text-align: center;
}
li {
	width: 33%;
	height: 7.5rem;
	border: 0.0312rem solid #eee;
	float: left;
	position: relative;
}
.left-border {
	border-left: none;
	border-right: none;
	
}
.right-border {
	border-left: none;
	border-right: none;
}
.center {
	border-bottom: none;
}
.one {
	border-bottom: none;
}
.three {
	border-bottom: none;
}

.border1{
    border-left: none;
}
.border2{
    border-left: none;
}
.border3{
    border-left: none;
    border-right: none;
}
.border4{
    border-top: none;
    border-left: none;
}
.border5{
    border-top: none;
    border-left: none;
}
.border6{
    border-top: none;
    border-left: none;
    border-right: none;
}

li .p1 {
	width: 2.5rem;
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
	color: #fff;
	background-color: #5DC2E7;
	font-size: 0.875rem;
	border-radius: 0.25rem;
	position: absolute;
	right: 0.3125rem;
	top: 0.3125rem;
}
li .p2 ,li .p3,li .p4{
	width: 90%;
	position: absolute;
	left: 5%;
	top: 39%;
	font-size: 0.8125rem;
}
li .p2  {
	font-size: 0.8625rem;
	color: #000;
}
li .p3 {
	top: 69%;
	color: rgb(233,79,55);
}
.p3 span {
	font-size: 1.125rem ;
	display: inline-block;
}
li .p4 {
	top: 84%;
	font-size: 0.6rem ;
	color: rgba(51,51,51,0.7)
}
#baoxian {
	display: inline-block;
	width: 85%;
	height: 1.25rem;
	background-color:#5DC2E7 ;
	font-size: 0.825rem;
	line-height: 1.25rem;
	text-align: center;
	color: #fff;
}
/*点击开户*/
.clickopen {
	width: 94%;
	height: 3.625rem;
	/*background-color: yellow;*/
	margin: 1.5rem auto;
	background-image: url(../../wechat/image/clickopen.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.clickp {
	position: absolute;
	left: 0.625rem;
	top: 0.375rem;
	color: #fff;
	font-size: 1rem;
}
.moneycard {
	width: 6.25rem;
	height: 6.25rem;
	position: absolute;
	right: 0.375rem;
	top: -1.5625rem;
}
.clickbtn {
	width: 5.375rem;
	height: 1.25rem;
	background-color: #FFFFFF;
	border-radius: 0.75rem;
	position: absolute;
	left: 50%;
	bottom: 0.3125rem;
	margin-left: -2.6875rem;
	line-height: 1rem;
	text-align: center;
}
.clickbtn p {
	color: rgb(51,73,94);
	font-size: 0.6875rem;
	display: inline-block;
	line-height: 20px;
}
.jiantou {
	width: 0.625rem;
	height: 0.625rem;
}
/*惠惊喜*/
.surprised-card {
	width: 94%;
	height: 7.1875rem;
	border-radius: 0.625rem;
	margin: 0.625rem auto;
	/*background-color: yellow;*/
	/*background-image: url(../img/advertisement.png);*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.swiper-slide img {
	width: 100%;
	height: 100%;
}
/*最新资讯*/
.lookmore {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.75rem;
	color: #BCBCBC;
}
.lookmore p {
	font-size: 0.875rem;
	color: rgba(51,51,51,0.7);
	/*padding: 0 2px;*/
	line-height: 1.25rem;
}
.lookmore img {
	width: 0.75rem;
	height: 0.75rem;
	vertical-align: middle;
	margin: 0 0.375rem;
}
/*新闻列表*/
.newsline{
	width: 94%;
	height:5rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	border-bottom: 0.0625rem solid rgba(51,51,51,0.5);
	padding: 0.9375rem 0;
}
.newsimg{
	width: 4.375rem;
	height: 4.375rem;
	margin-top: 0.3125rem;
}
.newsimg img {
	width: 100%;
	height: 100%;
}
.newstext {
	width: 70%;
	
}
.newstext .newstitle {
	font-size: 0.875rem;
	overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 1.625rem;
    color: #000;
}
.newstext .newscontent {
	font-size: 0.625rem;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*text-indent: 2em;*/
    color:rgba(51,51,51,0.7) ;
}
.newstext .newstime {
	font-size: 0.625rem;
	position: absolute;
	right: 0;
	bottom: 0.9375rem;
	color:rgba(51,51,51,0.7) ;
}
/*邀您体验*/
.invite {
	width: 94%;
	margin: 0.9375rem auto 0;
	text-align: center;
}
.invite img,.invite p {
	display: inline-block;
}
.invite img {
	width: 1.5625rem;
	height: 1.5625rem;
	vertical-align: middle;
}
.invite p {
	font-size: 1.125rem;
	line-height: 1.875rem;
	vertical-align: middle;
	padding: 0 0.5rem;
}
/*卡片部分*/
.invitecard {
	width:100%;
	height: 6.625rem;
	margin: 0.625rem auto 1.25rem;
	overflow-x: scroll; /*添加横向滚动条*/
	overflow-y: hidden;
    white-space: nowrap;/*不换行*/
}

 ::-webkit-scrollbar {display:none}
.invitecard .inviteline{
	width: 6.25rem;
	height: 6.25rem;
	display: inline-block;
	position: relative;
	border-radius: 0.625rem;
	margin: 0 0.375rem;
	color: #fff;
}

.inviteline img {
	width: 100%;
	height: 100%;
}

/*更多帮助*/
.morehelp {
	width: 94%;
	margin: 0.625rem auto 1.875rem;
	display: flex;
	justify-content: space-between;
}
.morehelp .heplline {
	width: 30%;
	height: 8.75rem;
	text-align: center;
	/*background-color: #fff;*/
}
.heplline img {
	width: 6.875rem;
	height: 6.875rem;
}
.heplline p {
	font-size: 0.875rem;
	color: rgb(51,51,51);
	text-align: center;
}
/*弹框*/
.mask {
	width: 100%;
	/*height: 100%;*/
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;
	overflow: hidden;
}
/*蒙版出现禁止底层滚动*/
.jinzhi {
	overflow: hidden;
	height: 100%;
}
.zgpage {
	width: 94%;
	height: 12rem;
	background-color: #FFFFFF;
	border-radius: 0.825rem;
	position: absolute;
	top: 45%;
	left: 3%;
	margin-top: -8rem;
	opacity: 1;
}
.zgtop {
	width: 100%;
	text-align: center;
	font-size: 1.4rem;
	line-height: 2rem;
	margin: 1rem auto;
}
.zgtop img{
	width: 1.6rem;
	height: 1.6rem;
	vertical-align: middle;
}
.zgcenter {
	width: 100%;
	margin: 0.8rem auto 0;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.8rem;
}
.zgcenter div {
  width: 25%;
}
.zgcenter img{
	width: 2.5rem;
	height: 2.5rem;
}
.zgcenter p {
	font-size: 0.6rem;
	color: rgba(51,51,51,0.7);
}
.zgcenter .redtext {
	font-size: 0.8rem;
	color: rgb(233,79,55);
	padding: 0.25rem;
	font-weight: 600;
}
.zgbottom {
	width: 94%;
	text-align: left;
	color: rgba(0,0,0,0.9);
	font-size: 0.87rem;
	border-top: 0.05rem solid rgba(51,51,51,0.8);
	margin: 0 auto;
	padding: 1rem 0;
	font-weight: 600;
	line-height: 1.25rem;
}
.zgbottom img {
	width: 1.25rem;
	height: 1.25rem;
	vertical-align: middle;
}
.zgbottom span {
	display: inline-block;
	padding: 0 0.4rem;
	vertical-align: middle;
	line-height: 1.25rem;
}
.zgbottom .spancen {
	padding: 0 0.9rem 0 0;
}
.close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: #FFFFFF;
	font-size: 2rem;
}

/*资格证书蒙版*/
.zgmask {
	/*opacity: 0;*/
	width: 80%;
	/*height: 14rem;*/
	/*background-color: #FFFFFF;*/
	border-radius: 0.825rem;
	position: absolute;
	top: 40%;
	left: 10%;
	margin-top: -8rem;
	/*opacity: 1;*/
}
/*.zgmask img{
	width:70% ;
	height: 15rem;
}*/
.slide-part {
	width:70% ;
	height: 15rem;
	position: relative;
}
.slide-part img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.slide-part p {
	width: 90%;
	position: absolute;
	left: 5%;
	text-align: center;
	font-size: 0.5rem;
}
.slide-part .p1{
	bottom: 1.2rem;
}
.slide-part .p2{
	bottom: 0.8rem;
}

.share-we-img {
	position: fixed;
	background-color: rgba(0,0,0,.4);
	width: 100%;
	height: 1200px;
	z-index: 9999;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
}